.task-container {
    background-color: #f9f9f9;
    border: 2px solid white;
    border-radius: 1rem;
    padding: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 8px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.task-header {
    display: flex;
    justify-content: space-between; /* Distribui o espaço entre os itens */
    align-items: center; /* Alinha verticalmente os itens ao centro */
    margin-bottom: 8px; /* Espaçamento entre o cabeçalho e o restante */
}

.task-title {
    font-size: 1.25rem; /* Tamanho do título */
    font-weight: bold;
    color: #333;
    margin: 0; /* Remove margens extras */
    flex: 1; /* Faz o título ocupar o espaço disponível */
}

.task-important {
    font-size: 0.9rem; /* Tamanho do texto da prioridade */
    font-weight: bold; /* Deixa a prioridade em negrito */
    text-transform: capitalize; /* Transforma o texto para começar com maiúscula */
    margin: 0; /* Remove margens extras */
    padding-left: 8px; /* Adiciona um espaçamento entre o título e a prioridade */
}

.task-description {
    font-size: 1rem; /* Tamanho da descrição */
    color: #555;
    margin-bottom: 16px;
    word-wrap: break-word; /* Garante quebra de linha */
    white-space: normal; /* Permite quebra de linha */
    display: block; /* Garante visibilidade */
}

.task-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-date {
    font-size: 0.9rem;
    color: #888;
}



.low-important {
    color: green;
}

.medium-important {
    color: orange;
}

.high-important {
    color: red;
}


.default-important {
    color: gray;
}

.task-actions {
    display: flex;
    gap: 8px;
}

.task-actions button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    color: #555;
}

.task-actions .edit-task {
    color: #007BFF;
}

.task-actions .delete-task {
    color: #DC3545;
}

.task-actions .check-task {
    color: green;
}