.main-layout {
    flex: 1;
    background-color: #EDEDED;
    border: 2px solid white;
    border-radius: 1.5rem;
    overflow: auto;
    padding: 20px; 
  }

.tasks-content {
    display: flex;
    flex-wrap: wrap; /* Permite quebra de linha */
    gap: 16px; /* Espaçamento entre as tarefas */
    justify-content: flex-start; /* Alinha à esquerda */
}



  .header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px; 
  }
  
  .title {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin: 0;
  }
  